* {
    margin: 0;
    padding: 0;
    flex-shrink: inherit;
}

body {
    background-color: #f7f6e4;
}
.btn_login{
    display: flex;
    justify-items: center;
    padding:5px;
    border-radius: 100px;
    background-color: #866845;
    color: #000000;
   margin-left: 50%;
    
}
button{
    cursor: pointer;
}


a {
   
    color: inherit; 
}

nav a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d4c098;
    padding: 3vh 5vh;
    padding-right: 7vw;
}

.logo {
    color: #481800;
}

footer {
    padding-top: 15%;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 5vw;
    list-style-type: none;
    cursor: pointer;
    color: #938172;
    font-size: 20px;
    font-weight: 900;

}

nav ul li:hover {
    color: #5f3711;
    transition: 500ms;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn button {
    padding: 7px;
    border-radius: 100px;
}

#btn1 {
    background-color: rgba(231, 92, 41, 0.658);
}

#btn2 {
    background-color: #f7c081;
}

#btn3 {
    background-color: #f7f6e4;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin-top: 5%;
    border: 10px solid #5f3711;
    border-radius: 100px;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 1500ms;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .firts {
    margin-left: 0;
}

#radio2:checked ~ .firts {
    margin-left: -25%;
}

#radio3:checked ~ .firts {
    margin-left: -50%;
}

#radio4:checked ~ .firts {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}
/*--------------------------------------------------------*/
.formulario{
    width: 20%;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 10%;
    scale: 130%;
   
}
.text_contato{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}
.input_login{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  border: 2px solid blueviolet;
}
.input_login input{
    margin: 5%;
}
.formulario button{
    display: flex;
    margin: 0 auto;
    
}
#telefone_contato{
    margin-left: 8%;
}
